.navbar {
    width: 100%;
    height: auto;
    padding-left: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    top: 0;
    position: fixed;
  	z-index: 100;
  	background-color: #4B2D87;
}

a.link {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 1px solid #4B2D87;
}

.link:hover {
    color: #4B2D87;
    background-color: white;
}

a.link.active {
    color: #4B2D87;
    background-color: white;
}

.children {
    margin-top: 100px;
}