.courseSec {
	margin-left: 20px;
	margin-right: 20px;

}

.commentSec {
	border: 1px solid black;
	margin-top: 20px;
	position: relative;
	max-height: 696px;
	width: 47%;
	float: right;
	overflow: auto;
	margin-bottom: 10px;
}
.chartSec {
	border: 1px solid black;
	margin-top: 15px;
}